@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --med-gray: #555;
    --dark-gray: #222;
    --light-gray: #777;
    --offwhite: #fafafa;
    --border-radius: 3px;
    --padding: 0.5rem;
}

